:root {
    --bg-color: #000;
    --primary-color: #fff;
    --secondary-color: #ff5900;
    --header-font: 'Barlow', sans-serif;
    --text-font: 'Poppins', sans-serif;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;

}

body {
    background-color: var(--bg-color);
    font-family: var(--text-font);
    color: var(--primary-color);
}

.poppins {
    font-family: var(--text-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

h4 {
    font-size: 3.5rem;
    margin: 0;
}

.p1 {
    line-height: 1.6;
    margin-bottom: 0;
    padding-bottom: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

.brand img {
    width: 200px;
    /* position: relative;
    top: 10px;
    left: 10px; */
}

ul {
    list-style: none;
}

nav {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
}

nav::before {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: 100%;
    height: 75px;;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.brand {
    width: 35vw;
    position: relative;
    margin: auto 40px;
}

.menu {
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a, .menu i {
    padding: 40px;
    flex: 1fr;
    text-decoration: none;
}
.menu a {
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
}

.featured {
    height: 100vh;
}

/* .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
} */

.featured::before {
    content: '';
    background: url('/img/GoT.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.featured-item {
    width: 450px;
    text-align-last: left;
    position: relative;
    left: 15%;
    top: 30%;
}

.featured-item::before {
    content: "";
    background: var(--primary-color);
    width: 340px;
    height: 1px;
    transform: rotate(90deg);
    position: absolute;
    top: 175px;
    left: -225px;
}

.btn {
    background: var(--secondary-color);
    border: none;
    padding: 0.5rem 2.5rem;
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 1rem;
    display: inline-block;
}

.btn:hover {
    color: var(--primary-color);
    background: rgba(var(--secondary-color), 0);
}
